div {
    width: 550px;
    height: auto;
    padding:5px 0px;
    padding-left: 25px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    font-size: 23px;
} 
.ytmusic-title {
    color: white;
    font-weight: 700;
    font-size: 36px;
}
.ytmusic-content {
    color: rgb(147, 147, 147);
    margin-top: -22px;
}